a {
    text-decoration: underline;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
}

.right {
    float: right;
}

table {
    border-collapse:collapse;
    width: 100%;
}

th {
    text-align: left;
}

th, td {
    padding: 20px 10px;
}

tr {
    border-top: 1px #CFCFD3 solid;
}