a {
    text-decoration: underline;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
}

.header-active {
    font-weight: 700;
}

h2 {
    color: #2C83AA;
    font-weight: 400;
}

.logo a {
    text-decoration: none;
}

.newContract h2 {
    text-align: center;
}

.newContract h3 {
    margin-left: 15px;
}

.right {
    float: right;
}

table {
    border-collapse:collapse;
    width: 100%;
}

th {
    text-align: left;
}

th, td {
    padding: 20px 10px;
}

tr {
    border-top: 1px #CFCFD3 solid;
}